# Auto detect text files and perform LF normalization
* text=auto

# SQL scripts
*.sql linguist-language=SQL
*.sql diff

# Python scripts
*.py linguist-language=Python

# JavaScript files
*.js linguist-language=JavaScript
